
#cart{
    align-items: center;
    margin-top: 0.5rem;

}
.card{
    width:300px;
	height: 500px;
    background-color: #ffffff;
    box-shadow: #00000039 2px 2px 2px 2px;
    padding: 0.5rem;
    color: #000000;

}

.btn{
    border: solid  rgba(0, 255, 255, 0.316);
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #2bdb42;
    color: black;
}
.card img{
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 200px;
	box-shadow: #0000004a 2px 1px 1px 1px;
}
.Product-Sort{
	margin-top: 0px;
	padding-top: 0px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 0rem 0rem 2rem 2rem;
	background-color: #0000001f;
	box-shadow: #00000055 2px 1px 2px 1px;
}
.card-text-brand{
	text-align: start;
	margin-left: 0.5rem;
	font-weight: bold;
}
.card-text-brand span{
	color: red;
}
/* Product view page */
.cartview{
	background-color: #ffffff;
}

.items{
	width:80%;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	background-color: #ffffff;
	border-radius: 0rem 0rem 1rem 1rem;
	box-shadow: 1px 1px 2px 1px #bcbcbc67;
	margin-bottom: 0%;
	margin-top: 1rem;
	
}
.rounded{
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	
	height: 400px;
	width: 400px;}
.itemscol p{

 color: rgb(0, 0, 0);
 font-weight: bold;
	}
.discription {
	color: red;
	font-weight: bold;
}
.bname{
	color: red;
	font-weight: bold;
}

.card-footer{
	margin-left: auto;
	margin-right: auto;
	width:50%;
	height: 250px;
	border-radius: 4rem;
	padding: 1rem;
	background-color: #ffffff;
	box-shadow: 0px 0px 0px 0px ;
}
.d-flex input{
	border-radius: 0.5rem;
	border-color: #2bdb42;
	background-color: #00000017;
	padding: 0.5rem;
	
}
.massage{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: 0px 0px 0px 0px ;
	background-color: #ffffff;
}
.msgbox{
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
}
.msgbox p{
	padding-left: 2rem;
}
.mainfaq{
width: 100%;
background-color: #ffffff;
margin-top: auto;

}
