*{
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    
}
body{
    background-color: #000000;
}
.Background {
    position: relative; 
 border: #00aeff solid ;
 border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Images/BG1.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    margin: 1rem;
    padding: 1rem;
}


.content{
 justify-content: left;
    display:block ;
    height: 100%;
    width: 80vh;
    background-color: rgb(255, 255, 255);
    color: #000000;

    
    border-radius: 40px;
    border: solid 2px #00aeff;
    
}
.contentforreg{
  justify-content: left;
    display:block ;
    height: 100%;
    width: 120vh;
    background-color: rgb(255, 255, 255);
    color: #000000;

    
    border-radius: 40px;
    border: solid 2px #00aeff;
}

.content p{
   
    text-align: center;
    justify-content: center;
    transform: translateX(9rem);
    font-size: 30px;
    
}
.Arrow{
  margin: 2rem;
    padding: 0.5rem;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.content ul{
    display:flex ;
}
h2{
    margin-top: 0;
}
.auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  }
  .Pw{
    display: flex;
    flex-direction: column;
    
  }
 
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
     
      border-radius: 10px;
      margin: 0.5rem;
    }
    
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: #00aeff;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    
  }
  .login:hover{
    box-shadow: #0000005b 1px 2px 1px 1px ;
    background-color: #2dbcff;
      transition: 0.2s;
    }
  
  
  .link-btn {
    background: none;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  .link-btn :hover{
    background: none;
    color: rgb(58, 58, 58);
    text-decoration: none;
    transition: 0.2s;
  }

  .contentforreg input{
    background-color: #b3e7ff;
  }
  .contentforreg label{
    font-weight: bold;
  }